.button-group {
  display: flex;
  flex-direction: column;
  justify-content: center;
  row-gap: 1rem;
  
  padding: 2rem;

  .button {
    transition: all 1500ms;
    display: flex;
    align-items: center;
  
    border: solid 4px rgba(#000000, 0);
    border-radius: 0.75rem;
    box-shadow: 0rem 0.375rem 0.75rem rgba(#000000, 0.2);
    
    padding: 0.5rem 2rem;
    font-size: 20px;
    width: 100%;

    cursor: pointer;
  
    img {
      transition: all 1500ms;

      height: 24px;
      width: 24px;
  
      margin-right: 1rem;
      padding: 0.5rem;
      
      background: none;
      border-radius: 0%;
    }

    &:hover {
      transition: all 500ms;
      border: solid 4px #ffffff;
      color: white;
      font-size: 24px;
      font-weight: 600;

      img {
        transition: all 500ms;
        background: white;
        border-radius: 50%;
      }
    }

    &:active {
      transition: all 500ms;
      transform: scale(0.95);
    }
  }
}

@media (min-width:600px) {
  .button-group {
    width: 536px;
  }
}