.translate_container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;

  background: linear-gradient(0deg, $primary-dark 0%, $primary-light 100%);
  padding: 0.5rem;

  .translate_item {
    margin: 0.5rem;
    color: $light;
    font-size: 0.75rem;
    cursor: pointer;

    &:hover {
      filter: brightness(80%);
    }

    &.selected {
      color: $dark;
      font-weight: 600;
    }
  }
}