.header {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: right;
  background: linear-gradient(0deg, #60a8f5 0%, #0a509a 100%);
  padding: 0.75rem 1.25rem;

  .button {
    transition: all 500ms;
    padding: 0.5rem;
    margin: 0.25rem;
    cursor: pointer;

    &:hover {
      background: gray;
      border-radius: 50%;
      filter: grayscale(100%) invert(1);
    }
  }
}

.icon {
  height: 24px;
  width: min-content;
}

.background-image {
  background-position: center;
  background-size: cover;

  height: 100%;
  width: 100%;
}