@import './colors';
@import './components/buttons';
@import './components/translateSelector';
@import './pages';

body {
	font-family: Roboto, "Helvetica Neue", sans-serif;
	font-size: 1rem!important;

  height: 100dvh;
  width: 100dvw;

	margin: 0rem;
	
	-webkit-tap-highlight-color: transparent;
}

.page {
	display: grid;
	grid-template-rows: auto 1fr auto;
	min-height: 100dvh;
}

img {
	height: 100%;
	width: 100%;
}

a {
	display: flex;

	&:link {
		color: $dark;
		text-decoration: none;
	}
	
	&:visited {
		color: $dark;
		text-decoration: none;
	}
}